<div class="row mx-3 d-flex justify-content-center overflow-hidden">
  <div class="col">
    <!--Avatar-->
    <div class="row d-flex justify-content-around">
      <div class="col-4 mt-3">
        <img [src]="avatar" class="rounded-circle mw-100 cursor-pointer" (click)="onClickShowAvatars()">
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-9 mt-3">
        <div *ngIf="error" class="alert alert-danger d-flex justify-content-around" role="alert">
          {{myMessage}}
        </div>
        <div *ngIf="sign" class="alert alert-success d-flex justify-content-around" role="alert">
          {{myMessage}}
        </div>
      </div>
    </div>
    <div *ngIf="true" class="row">
      <div *ngFor="let avatarImg of avatars" class="col-3 d-flex justify-content-around my-3 ">
        <img [src]="avatarImg" class="rounded-circle w-50 cursor-pointer" (click)="onClickScegliAvatar(avatarImg)">
      </div>
    </div>
    <form class="form form-sm" action="javascript:void(0)" (submit)="onRegisterSubmit()">
      <!--nome-->
      <div class="d-flex justify-content-center">
        <mat-form-field class="w-75">
          <input matInput placeholder="Nome" name="nom" [(ngModel)]="nome">
        </mat-form-field>
      </div>
      <!--cognome-->
      <div class="d-flex justify-content-center">
        <mat-form-field class="w-75">
          <input matInput placeholder="Cognome" name="cognome" [(ngModel)]="cognome">
        </mat-form-field>
      </div>
      <!--email-->
      <div class="d-flex justify-content-center">
        <mat-form-field class="w-75">
          <input matInput placeholder="Email" name="email" [(ngModel)]="email">
        </mat-form-field>
      </div>
      <!--Username-->
      <div class="d-flex justify-content-center">
        <mat-form-field class="w-75">
          <input matInput placeholder="Username" name="username" [(ngModel)]="username">
        </mat-form-field>
      </div>
      <!--Password-->
      <div class="d-flex justify-content-center">
        <mat-form-field class="w-75">
          <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
        </mat-form-field>
      </div>
      <!--registrati-->
      <div class="d-flex justify-content-center mt-3">
        <button mat-raised-button color="primary" class="w-75">Invia</button>
      </div>
    </form>
  </div>
</div>