<div class="row my-3 mx-3 d-flex justify-content-center">
  <div class="col-6">
    <!--Avatar-->
    <div class="row d-flex justify-content-around">
      <div class="col-4">
        <img [src]="avatar" class="rounded-circle mw-100 cursor-pointer" (click)="onClickShowAvatars()">
      </div>
    </div>


    <div *ngIf="scegliAvatarVisibile" class="row">
      <div *ngFor="let avatarImg of avatars" class="col-3 justify-content-around">
        <img [src]="avatarImg" class="rounded-circle w-50 cursor-pointer" (click)="onClickScegliAvatar(avatarImg)">
      </div>
    </div>
    <form class="form form-sm" action="javascript:void(0)" (submit)="onRegisterSubmit()">
      <!--nome-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nome</span>
        </div>
        <input type="text" class="form-control" name="nome" [(ngModel)]="nome">
      </div>
      <!--cognome-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Cognome</span>
        </div>
        <input type="text" class="form-control" name="cognome" [(ngModel)]="cognome">
      </div>
      <!--email-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">email</span>
        </div>
        <input type="text" class="form-control" name="email" [(ngModel)]="email">
      </div>
      <!--Username-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input type="text" class="form-control" name="username" [(ngModel)]="username">
      </div>
      <!--Password-->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password</span>
        </div>
        <input type="password" class="form-control" name="password" [(ngModel)]="password">
      </div>


      <!--accedi-->
      <button class="btn btn-primary">Invia
      </button>

    </form>
    <div *ngIf="error" class="alert alert-danger" role="alert" style="margin-top: 15px;">
      {{myMessage}}
    </div>
    <div *ngIf="sign" class="alert alert-success" role="alert" style="margin-top: 15px;">
      {{myMessage}}
    </div>

  </div>
</div>