<div class="p-3  text-break contenutoDialog" [ngStyle]="{'background' : panelColor.value}">
  <!--START RIGA PULSANTI -->
  <div class="row mr-3 d-flex justify-content-end">
    <!--APRI STORICO MODIFICHE-->
    <div *ngIf="!modificaSelezionata && !modifichePrecedenti" class="col">
      <button class="btn bottone" title="Modifiche Precedenti" (click)="openStoricoModifiche()">
        <i class="fas fa-clipboard-list"></i>
      </button>
    </div>
    <!--storico modifiche-->
    <!--CHIUDI STORICO MODIFICHE-->
    <div *ngIf="!modificaSelezionata && modifichePrecedenti" class="col">
      <button class="btn bottone" title="Indietro" (click)="closeStoricoModifiche()">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
    <!--modifica selezionata-->
    <div *ngIf="modificaSelezionata" class="col">
      <button class="btn bottone" title="Indietro" (click)="colseModificaSelezionata()">
        <i class="fas fa-chevron-left"></i>
      </button>
    </div>
    <div *ngIf="modificaSelezionata" class="col-10 d-flex justify-content-end">
      {{postItModifica.data | date:'medium'}} - {{postItModifica.nome_utente}} {{postItModifica.cognome_utente}}
    </div>
    <!--modifica selezionata-->

    <!--storico modifiche-->
    <!--AGGIUNGI DIPENDENTI-->
    <div *ngIf="!modifica && !modificaSelezionata && !aggiungi" class="col-1 mr-3">
      <button class="btn bottone" title="Aggiungi dipendenti" (click)="aggiungiDipendenti()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <!--salva modifiche-->
    <div *ngIf="aggiungi" class="col-1 mr-3">
      <button class="btn bottone" title="Salva" (click)="saveDipendenti()">
        <i class="far fa-save"></i>
      </button>
    </div>
    <!--annulla modifiche-->
    <div *ngIf="!modifica && !modificaSelezionata && aggiungi" class="col-1 mr-3">
      <button class="btn bottone" title="Annulla" (click)="annulla()">
        <i class="fas fa-undo"></i>
      </button>
    </div>
    <!--MODIFICA-->
    <div *ngIf="!modifica && !modificaSelezionata && !aggiungi" class="col-1 mr-3">
      <button class="btn bottone" title="Modifica" (click)="openModifica()">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <!--ELIMINA-->
    <div *ngIf="!modifica && !modificaSelezionata && !aggiungi" class="col-1 mr-3">
      <button class="btn bottone" title="Elimina" (click)="delete()">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
    <!--modifica-->
    <div *ngIf="modifica" class="col-1 mr-3">
      <button class="btn bottone" title="Salva" (click)="save()">
        <i class="far fa-save"></i>
      </button>
    </div>
    <div *ngIf="modifica" class="col-1 mr-3">
      <button class="btn bottone" title="Annulla" (click)="annulla()">
        <i class="fas fa-undo"></i>
      </button>
    </div>
    <!--modifica-->
  </div>

  <!--END RIGA PULSANTI -->
  <!--TITOLO-->
  <div class="row mr-3 d-flex">
    <div class="col px-5">
      <h1 *ngIf="!modifica && !modifichePrecedenti && !aggiungi" mat-dialog-title>{{post.nome_postIt}}</h1>

      <h1 *ngIf="modificaSelezionata" mat-dialog-title>{{postItModifica.nome_postIt}}</h1>
      <h1 *ngIf="!modificaSelezionata && modifichePrecedenti && !modifica" mat-dialog-title>Storico delle Modifiche</h1>

      <mat-form-field *ngIf="modifica" class="w-75">
        <input matInput placeholder="Titolo" name="titolo" [(ngModel)]="titolo">
      </mat-form-field>
    </div>
  </div>
  <!--TITOLO-->

  <!--CONTENUTO-->
  <mat-dialog-content>

    <div *ngIf="!modifica && !modifichePrecedenti && !aggiungi" class="row d-flex justify-content-end">
      <div class="col pl-5">
        {{post.descrizione_postIt}}
      </div>
    </div>

    <!--start aggiungi dipendenti-->
    <div *ngIf="aggiungi" class="row d-flex justify-content-end">
      <div class="col pl-5">
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-100">
            <input matInput placeholder="Nome post-it" type="text" name="nome_postIt"
              [(ngModel)]="postNuovo.nome_postIt" value="{{postNuovo.nome_postIt}}">
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-100">
            <textarea rows="3" matInput placeholder="Descrizione post-it" type="text" name="descrizione_postIt"
              [(ngModel)]="postNuovo.descrizione_postIt" value="{{postNuovo.descrizione_postIt}}"></textarea>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-100">
            <mat-label>Colore POST-IT</mat-label>
            <mat-select [formControl]="panelColor" panelClass="example-panel-{{panelColor.value}}" id="colore_postIt"
              name="colore_postIt">
              <mat-option value="#FF6347">Rosso</mat-option>
              <mat-option value="#98FB98">Verde</mat-option>
              <mat-option value="#87CEEB">Blu</mat-option>
              <mat-option value="#f7a1f3">Rosa</mat-option>
              <mat-option value="#f9fab1">Giallo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field MatFormFieldControl class="w-100">
            <mat-label>Tipologia</mat-label>
            <mat-select [formControl]="typePost" panelClass="example-panel-{{typePost.value}}" id="tipologia"
              name="tipologia">
              <mat-option value="{{col}}" *ngFor="let col of colonne" (click)="onChangeType()">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-100">
            <mat-label>Story points</mat-label>
            <mat-select [formControl]="difficoltaPost" panelClass="example-panel-{{difficoltaPost.value}}"
              id="difficolta" name="difficolta">
              <mat-option value="0">0</mat-option>
              <mat-option value="0.5">1/2</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="13">13</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="60">60</mat-option>
              <mat-option value="100">100</mat-option>
              <mat-option value="?">?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--fine aggiungi dipendenti-->

    <!--start form modifica-->

    <div *ngIf="modifica" class="row d-flex justify-content-end">
      <div class="col pl-5">
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-100">
            <textarea rows="3" matInput placeholder="Descrizione" type="text" name="descrizione"
              [(ngModel)]="descrizione" value="{{post.descrizione_postIt}}"></textarea>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-100">
            <mat-label>Colore POST-IT</mat-label>
            <mat-select [formControl]="panelColor" panelClass="example-panel-{{panelColor.value}}" id="colore_postIt"
              name="colore_postIt">
              <mat-option value="#FF6347">Rosso</mat-option>
              <mat-option value="#98FB98">Verde</mat-option>
              <mat-option value="#87CEEB">Blu</mat-option>
              <mat-option value="#f7a1f3">Rosa</mat-option>
              <mat-option value="#f9fab1">Giallo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field MatFormFieldControl class="w-100">
            <mat-label>Tipologia</mat-label>
            <mat-select [formControl]="typePost" panelClass="example-panel-{{typePost.value}}" id="tipologia"
              name="tipologia">
              <mat-option value="{{col}}" *ngFor="let col of colonne">{{col}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--end form modifica-->

    <!--start modifiche precedenti-->
    <div *ngIf="modifichePrecedenti && !modificaSelezionata && !modifica" class="col pl-3">
      <!--`id_postItOld`, `nome_PostItNew`, `descrizione_postItNew`, `colore_postItNew`, `tipologiaNew`-->
      <div *ngFor="let modifica of storicoModifiche">
        <div class="row" (click)="showModifica(modifica)">
          <div class="col-7 my-2">
            {{modifica.data | date:'medium'}}
          </div>
          <div class="col my-2 d-flex justify-content-end">
            {{modifica.nome_utente}} {{modifica.cognome_utente}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>

    </div>
    <!--end modifiche precedenti-->

    <!--start modifica selezionata-->
    <div *ngIf="modificaSelezionata" class="row d-flex justify-content-end">
      <div class="col pl-5">
        {{postItModifica.descrizione_postIt}}
      </div>
    </div>
    <!--end modifica selezionata-->

  </mat-dialog-content>
  <!--CONTENUTO-->

  <!--start messaggio di errore-->
  <div *ngIf="error" class="alert alert-danger boxMsg">
    <h4 class="textMsg">{{message}}</h4>
  </div>
  <!--fine messaggio di errore-->

  <mat-dialog-actions>

    <div class="row w-100">

      <div class="col-12 d-flex justify-content-center">
        Story point: {{post.difficolta}}
      </div>

      <!-- <div class="col-9">
       <button class="mat-stroked-button" color="primary" (click)="close()">Chiudi</button>
        <button *ngIf="modifica" class="mat-stroked-button ml-3" color="primary" (click)="save()">Salva</button>
        <button *ngIf="modifica" class="mat-stroked-button ml-3" color="primary" (click)="annulla()">Annulla</button>
      </div>-->
      <div class="col d-flex justify-content-end">
        #{{post.id_postIt}}
      </div>
    </div>
  </mat-dialog-actions>

</div>