<!--Seconda parte Header Menu-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isMenuVisibile">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <div class="col-sm">
        <select class="form-control" id='listprog'>
          <option [routerLink]="['#']" (click)="onClickCercaProgettoUtente()">Cerca un progetto dell'utente</option>
          <option></option> <!-- DA INSERIRE ALL'INTERNO DELl' OPTION *ngFor="let progetto of progetto>"-->
        </select>
      </div>
    </li>
    <li class="nav-item">
      <div class="col-sm">
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Certa tra i progetti" name="nome_progetto"
              [(ngModel)]="nome_progetto">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-secondary" (click)="onClickSearchProject()"><i
                  class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </li>
  </ul>
</nav>

<!--Preview progetti-->
<!--Se l'utente non ha progetti-->
<div *ngIf="isVisible" id="error">
  <div *ngIf="!isSuccess" class="alert alert-danger" role="alert">
    Progetto non Esistente <a href="javascript:void(0)" (click)="onClickCanc()"><i class="fa fa-times" id="cross"></i></a>
  </div>
  <div *ngIf="isSuccess" class="alert alert-success" role="alert">
    Progetto esistente <a href="javascript:void(0)" (click)="onClickCanc()"><i class="fa fa-times" id="cross"></i></a>
  </div>
</div>
<!--Se l'utente non ha progetti-->

<!--Se l'utente ha dei progetti-->
<div class="card" id="card" style="">
  <img src="../assets/table.png" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">nome Progetto</h5>
    <p class="card-text"> Descrizione Progetto </p>
  </div>
  <div class="card-body">
    <button [routerLink]="['']" class="btn btn-primary">Apri Progetto</button>
  </div>
</div>
<!--Se l'utente ha dei progetti
 
  Preview progetti-->

<!--Bottoni end pagina-->
<div class="row">
  <div class="col-sm">
    <button type="button" class="btn btn-secondary " id='add' [routerLink]="['']" (click)="onClickNewProject()"><i
        class="fa fa-plus"></i></button>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <button type="button" class="btn btn-secondary " id='search' (click)="onClickSearchMenu()"><i
        class="fa fa-search"></i></button>
  </div>
</div>
<!--Bottoni end pagina-->