#add{
    margin-top: 10px;
    
    border-top: 1em;
    border-radius: 2em;
}

#search{
    
    border-top: 1em;
    border-radius: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bottoni{
    position: fixed;
    right: 13%;
    top: 16%;
}

#refresh{
    float: right;
    border-top: 1em;
    border-radius: 2em;
}

#cross{
    font-size: 20px;
    float: right;
    color: black
}

select{
  width: 200px;
}

#error{
    display: block;
    margin: 1em;
    margin-right: 3em;
}

#card{
    width: 18rem;
    margin-top: 1em;
    margin-left: 1em;
    float: left;
}

#idProgetto{
    float: right;
    margin-top: 10px;
}