<div class="p-3" [ngStyle]="{'background' : coloreSfondo}">

  <div class="row mr-3 d-flex justify-content-end">
    <div class="col px-5">
      <h2 *ngIf="!modifica" mat-dialog-title>{{post.nome_postIt}}</h2>
      <mat-form-field *ngIf="modifica" class="w-75">
        <input matInput placeholder="Titolo" name="titolo" [(ngModel)]="titolo">
      </mat-form-field>
    </div>
    <div class="col-1 mr-3">
      <button class="btn bottone" (click)="openModifica()">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <div class="col-1 mr-3">
      <button class="btn bottone" (click)="delete()">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>

  <mat-dialog-content>

    <div *ngIf="!modifica" class="row d-flex justify-content-end">
      <div class="col pl-5">
        {{post.descrizione_postIt}}
      </div>
    </div>
    <!--start form modifica-->

    <div *ngIf="modifica" class="row d-flex justify-content-end">
      <div class="col pl-5">
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-75">
            <textarea rows="3" matInput placeholder="Descrizione" type="text" name="descrizione"
              [(ngModel)]="descrizione" value="{{post.descrizione_postIt}}"></textarea>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-75">
            <mat-label>Colore POST-IT</mat-label>
            <mat-select [formControl]="panelColor" panelClass="example-panel-{{panelColor.value}}" id="colore_postIt"
              name="colore_postIt">
              <mat-option value="#FF6347" (click)="onChangeColor()">Rosso</mat-option>
              <mat-option value="#98FB98" (click)="onChangeColor()">Verde</mat-option>
              <mat-option value="#87CEEB" (click)="onChangeColor()">Blu</mat-option>
              <mat-option value="#f7a1f3" (click)="onChangeColor()">Rosa</mat-option>
              <mat-option value="#f9fab1" (click)="onChangeColor()">Giallo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
          <mat-form-field class="w-75">
            <mat-label>Tipologia</mat-label>
            <mat-select [formControl]="typePost" panelClass="example-panel" id="tipologia"
              name="tipologia" [ngStyle]="{'background' : coloreSfondo}">
              <mat-option value="to do">TO DO</mat-option>
              <mat-option value="doing">DOING</mat-option>
              <mat-option value="done">DONE</mat-option>
              <mat-option value="accepted">DONE ACCEPTED</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <!--end form modifica-->

  </mat-dialog-content>

  <mat-dialog-actions>

    <div class="row w-100">
      <div class="col">
        <button class="mat-stroked-button" color="primary" (click)="close()">Chiudi</button>
        <button *ngIf="modifica" class="mat-stroked-button ml-3" color="primary" (click)="save()">Salva</button>
        <button *ngIf="modifica" class="mat-stroked-button ml-3" color="primary" (click)="annulla()">Annulla</button>
      </div>
      <div class="col-3 d-flex justify-content-end">
        #{{post.id_postIt}}
      </div>
    </div>
  </mat-dialog-actions>

</div>