
<div class="container">
  <div class="row my-3 mx-3 d-flex justify-content-center">
    <div class="col-6">
      <form action="javascript:void(0)" (submit) = "onSaveSubmit()">
        <!--TITOLO POST-IT-->
        <div class="mb-3 d-flex justify-content-center">
          <mat-form-field class="w-75">
            <input matInput placeholder="Inserisci il titolo..." id="nome_post_it" name="nome_post_it" [(ngModel)]="nome_post_it">
          </mat-form-field>
        </div>
        <!--DESCRIZIONE POST-IT-->
        <div class="mb-3 d-flex justify-content-center">
          <mat-form-field class="w-75">
            <textarea matInput placeholder="Inserisci la descrizione..." type="text" id="descrizione_postIt" name="descrizione_postIt" [(ngModel)]="descrizione_postIt"></textarea>
          </mat-form-field>
        </div>
        <!--SALVA E ANNULLA-->
        <div class="mb-3 d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Salva</button>
          <form action="javascript:void(0)" (submit) = "onCancelSubmit()">
            <button class="btn btn-danger" type="submit" style="margin-left: 20px;">Annulla</button>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>
