.tabella-lavagna{
    margin-top: 3.5em;
}
.column{
    width: 25%;
}
.buttonLavagna{
    height: 40px;
    width: 180px;
    margin-bottom: 10px;
    margin-left: 30%;
    font-size: 15px;
}
.button-icon{
    font-size: 15px;
    float: left;
}
.row-list{
    border-top: 1px solid black;
    margin-top: 50px;
}
.postIt{
    height: 100px;
    overflow: hidden;
}
.postIt-title{
    font-size: 15px;
}
.postIt-desc{
    font-size: 10px;
}
.tabella{
    border-right: 1px solid rgb(168, 167, 167);
}
.divPost{
    margin-top: 10px;
}
.lavagna{
    margin-top: 50px;
    margin-bottom: 100px;
}
.bottoneAggiorna{
    width: 180px;
    height: 40px;
}
:host-context(.orange) div {
    background-color: orange;
}