.tabella-lavagna{
    margin-top: 3.5em;
}
.column{
    width: 25%;
}
.buttonLavagna{
    height: 40px;
    width: 180px;
    margin-bottom: 10px;
    margin-left: 30%;
    font-size: 15px;
}
.button-icon{
    font-size: 15px;
    float: left;
}
.row-list{
    border-top: 1px solid black;
    margin-top: 50px;
}
.postIt{
    height: 105px;
    overflow: hidden;
    cursor: move;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.postIt-title{
    font-size: 13px;
}
.postIt-desc{
    font-size: 10px;
}
.epic-title{
    text-align: center;
    font-size: 16px;
}
.epica-desc{
    text-align: center;
    font-size: 14px;
}
.tabella{
    border-right: 1px solid rgb(168, 167, 167);
}
.tabellaLeft{
    border-left: 1px solid rgb(168, 167, 167);
}
.lavagna{
    margin-top: 50px;
    margin-bottom: 100px;
}
.bottoneAggiorna{
    width: 180px;
    height: 40px;
}
:host-context(.orange) div {
    background-color: orange;
}
.modificaProgetto{
    border: 1px solid black;
}
.colonne-carosello{
    position: relative;
    min-height: 200px;
    background: none;
    padding-bottom: 10px;
}
.titoloColonna{
    text-align: center;
}
.carosello{
    position: relative;
    border-right: 1px solid black;
}
.lineaSeparazione{
    position: absolute;
    top: 0;
    right: 2.2px;
    height: 100%;
    width: 0.5px;
    background: black;
}
.divPost{
    width: 8.89em;
    margin-top: 10px;
}
.divPostEpic{
    width: 17.78em;
    margin-top: 10px;
}
.boxMsg{
    position: absolute;
    top: 8%;
    left: 30%;
    right: 30%;
    z-index: 99;
}
.alert{
    padding-top: 5px;
    padding-bottom: 5px;
}
.msg{
    font-size: 18px;
}