<div class="titoloProgetto ">
  <div class="row ">
    <div class="col">
      <h1 class="nomeProgetto">{{nomeProgetto}}</h1>
    </div>

    <!-- bottone modifica progetto-->
    <div class="col">
      <button mat-raised-button title="Modifica progetto" (click)="onClickUpdate()">
        <h2><i class="fas fa-wrench cursor-pointer"></i> </h2>
      </button>
    </div>
    <!-- bottone modifica progetto-->


    <div class="col-3 d-flex flex-column">
      <button class="btn btn-success buttonLavagna" (click)="creaPostIt()">Crea post-it</button>
      <button class="btn btn-info buttonLavagna" (click)="onClickRefresh()">Aggiorna</button>
      <button class="btn btn-danger buttonLavagna" (click)="esciProgetto()">Esci dal progetto</button>
    </div>
  </div>
</div>

<!-- lavagna dinamica -->

<div class="row">
  <div class="col-3" *ngFor="let col of arrayColonne">
    <h2>{{col.nome_colonna}}</h2>
    <!-- rappresentazione grafica del post-it -->
    <div *ngFor="let post of postIt" class="col-6 divPost cursor-pointer" (click)="openDialog(post)">
      <mat-card class="postIt" [ngStyle]="{'background' : post.colore_postIt}" *ngIf="post.tipologia == col.nome_colonna">
        <mat-card-title class="postIt-title">{{post.nome_postIt}}</mat-card-title>
        <mat-card-content class="postIt-desc">{{post.descrizione_postIt}}</mat-card-content>
      </mat-card>
    </div>
    <!-- -->
  </div>
</div>