<div class="row my-3 mx-3 d-flex justify-content-center">
  <div class="col-6">

    <h1 class="font-italic font-weight-bold">Crea nuovo progetto</h1>

    <form action="javascript:void(0)" (submit)="onProjectSubmit()">
      <!--Nome progetto-->
      <div class="mb-3 d-flex justify-content-center">
        <mat-form-field class="w-75">
          <input matInput placeholder="Nome progetto" id="nome_progetto" name="nome_progetto" [(ngModel)]="nome_progetto">
        </mat-form-field>
      </div>
      <!--Descrizione progetto-->
      <div class="mb-3 d-flex justify-content-center">
        <mat-form-field class="w-75">
          <textarea rows="3" matInput placeholder="Descrizione progetto" id="descrizione_progetto" type="text" name="descrizione_progetto" [(ngModel)]="descrizione_progetto"></textarea>
        </mat-form-field>
      </div>
      <!-- bottone crea-->
      <button class="btn btn-primary" type="button" (click)="onProjectSubmit()" [routerLink]="['/pu']">Crea</button>

    </form>

    <div *ngIf="error" class="alert alert-danger" role="alert" style="margin-top: 15px;">
      {{myMessage}}
    </div>
    <div *ngIf="creato" class="alert alert-success" role="alert" style="margin-top: 15px;">
      {{myMessage}}
    </div>
  </div>
</div>