h1{
    text-align: center;
}

form{
    margin-top: 40px;
}
.buttonCancel{
    background: rgb(216, 21, 21);
    color: white;
    margin-left: 80px;
}
ol{
    margin-left: 8%;
    width: 100%;
}
.titoloNominaColonne{
    text-align: center;
}