<nav class="docs-navbar-header">
    <div class="row">

        <div class="col-2 my-2">
            <img *ngIf="isUtenteLoggedin" src="{{avatar}}" class="rounded-circle mw-100">
            <img *ngIf="!isUtenteLoggedin" src="../../assets/img/icona.png">
        </div>

        <div class="col-8 my-2 d-flex justify-content-center">
            <a class="navbar-brand" [routerLink]="['#']">{{ nome }} {{ cognome }}</a>
        </div>

        <div class="col-2 my-2 d-flex flex-row align-items-center justify-content-end" *ngIf="isUtenteLoggedin">
            <div (click)="openConfig()">
                <i class="fas fa-sliders-h confg"></i>
            </div>
            <form class="form-inline buttonExit">
                <button mat-flat-button color="warn"  [routerLink]="['/']" class="mt-1"
                    (click)="onClickExit()">Exit</button>
            </form>
        </div>

    </div>
</nav>