/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
    cursor: pointer;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-panel-red.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green.mat-select-panel {
background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-select-panel {
background: rgba(0, 0, 255, 0.5);
}

.example-panel-pink.mat-select-panel {
  background: rgba(255, 0, 234, 0.5);
}


.example-panel-yellow.mat-select-panel {
  background: rgba(234, 230, 0, 0.877);
}
.nomeProgetto{
  font-size: 50px;
}
.titoloProgetto{
  margin-top: 2em;
}
