/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
    cursor: pointer;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-panel-red.mat-select-panel {
  background: #FF6347;
}

.example-panel-green.mat-select-panel {
background: #98FB98;
}

.example-panel-blue.mat-select-panel {
background: #87CEEB;
}

.example-panel-pink.mat-select-panel {
  background: #FFC0CB;
}


.example-panel-yellow.mat-select-panel {
  background: 	#EEE8AA;
}

/*questa roba si fa con le classi di bootstrap*/
.nomeProgetto{
  font-size: 50px;
}
.titoloProgetto{
  margin-top: 2em;
}
/*questa roba si fa con le classi di bootstrap*/


/*start dialog visualizza postit*/

.mat-dialog-container{
  background: none;
  box-shadow: none;
}

.example-panel-pink.mat-select-panel {
  background: #FFC0CB;
}


.example-panel-yellow.mat-select-panel {
  background: 	#EEE8AA;
}*/
.bg-red{
  background-color: #FF6347;
}
.bg-green{
  background-color: #98FB98;
}
.bg-blue{
  background-color: #87CEEB;
}
.bg-pink{
  background-color: #FFC0CB;
}
.bg-yellow{
  background-color: #EEE8AA;
}

.descrizione-postit-parent{
  overflow: hidden;
}
.mat-dialog-content{
  overflow: hidden;
}

.descrizione-postit-child{
  overflow-y: scroll;
  padding-right: 272px;
  box-sizing: content-box;
}

/*end dialog visualizza postit*/
